@page
@model BookClub.Pages.BraveNewWorldModel
@{
    ViewData["Title"] = "BraveNewWorld";
}
<!DOCTYPE html>
<head>
    <title> NERD Club: Brave New World</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<h2>Brave New World</h2>