@page
@model BookClub.Pages.FrankenstienModel
@{
    ViewData["Title"] = "Frankenstien";
}
<head>
    <title> NERD Club: Frankenstien</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<h2>Frankenstien</h2>

