@page
@model BookClub.Pages.ProfessionalCSharp6andNETCore1Model
@{
    ViewData["Title"] = "ProfessionalCSharp6andNETCore1";
}
<head>
    <title> NERD Club: Professional C# 6.0 and .NET Core 1.0</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<h2>Professional C# 6.0 and .NET Core 1.0</h2>

