@page
@model BookClub.Pages.TwilightModel
@{
    ViewData["Title"] = "Twilight";
}
<head>
    <title> NERD Club: Twilight</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
</head>
<h2>Twilight</h2>

